.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color:rgba(241, 224, 207, 0.8);
    font-family:serif;
    font-weight:bolder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .menu-button {
    cursor: pointer;
    font-size: 24px;
  }

  .menu-items {
    display: none; 
  }

  .menu-items.show {
    display: flex;
    flex-direction: column; 
    top: 50px; 
    padding: 10px;
    border: 1px solid #ddd;
  }

  .menu-items a {
    padding: 5px;
    text-decoration: none;
    color: #333;
  }

  .menu-items a:hover {
    color: #555;
  }

  .desktop-items {
    display: flex; 
  }

  .desktop-items a {
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
  }

  .desktop-items a:hover {
    color: #555;
  }
